# fly.toml app configuration file generated for uncharted-track-your-lines on 2025-12-31T08:36:28+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'uncharted-track-your-lines'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'
  SCIALPI_LOG_HOME = '/data'

[[mounts]]
  source = 'scialpi_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
